p {
	font-size: 100px;
	margin: 0;
	color: red;
}
.container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1900px;
	height: 1000px;
	border: solid 1px black;
	background-color: black;
}
