:root {
  --text-shadow-color: rgba(255, 255, 255, 0.5);
  --link-background: #dad2ca;
  --text-color: #444;
  --circle-background: #8fd4c1;
  --border-color: #fffff1;
}

body {
  padding: 20px;
}

#data-container {
  counter-reset: li;
  list-style: none;
  font: 14px 'Trebuchet MS', 'Lucida Sans';
  padding: 0;
  text-shadow: 0 1px 0 var(--text-shadow-color);
}

#data-container a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: var(--link-background);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

#data-container a:hover {
  background: var(--link-background);
}

#data-container a:hover:before {
  transform: rotate(360deg);
}

#data-container a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: var(--circle-background);
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid var(--border-color);
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
